<form
  [formGroup]="validateForm"
  (ngSubmit)="validar()"
  class="flex justify-content-center align-items-center flex-column p-4">

  <h2>{{step?.title}}</h2>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Primeira Questão</label>
    <br>
    <span>{{this.step?.questions?.questionOne}}</span>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseOne" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Segunda Questão</label>
    <br>
    <span>{{this.step?.questions?.questionTwo}}</span>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseTwo" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Terceira Questão</label>
    <br>
    <span>{{this.step?.questions?.questionThree}}</span>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseThree" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Quarta Questão</label>
    <br>
    <span>{{this.step?.questions?.questionFour}}</span>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseFour" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Quinta Questão</label>
    <br>
    <span>{{this.step?.questions?.questionFive}}</span>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseFive" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <p-button label="Avançar" type="submit" class="mt-4 p-fluid w-full"></p-button>
  <p-button label="Voltar" type="button" class="mt-4 p-fluid w-full" (click)="voltar()"></p-button>
</form>
