<form
  [formGroup]="validateForm"
  (ngSubmit)="validar()"
  class="flex justify-content-center align-items-center flex-column p-4">

  <h2>{{step?.title}}</h2>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Primeira Questão</label>
    <br>
    <span>{{this.step?.questions?.questionOne}}</span>
    </span>
   <span class="mb-2 mt-2 w-full">
    <div *ngFor="let item of this.listQuestion1; let i = index" class="field-radiobutton">
      <p-radioButton name="responseOne" [value]=item formControlName="responseOne" inputId="{{'response1' + i}}"></p-radioButton>
      <label for="{{'response1' + i}}">{{item}}</label>
    </div>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Segunda Questão</label>
    <br>
    <span>{{this.step?.questions?.questionTwo}}</span>
  </span>

  <span class="mb-2 mt-2 w-full">
    <div *ngFor="let item of this.listQuestion2; let i = index" class="field-radiobutton">
      <p-radioButton name="responseTwo" [value]=item formControlName="responseTwo" inputId="{{'response2' + i}}"></p-radioButton>
      <label for="{{'response2' + i}}">{{item}}</label>
    </div>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Terceira Questão</label>
    <br>
    <span>{{this.step?.questions?.questionThree}}</span>
  </span>

  <span class="mb-2 mt-2 w-full">
    <div *ngFor="let item of this.listQuestion3; let i = index" class="field-radiobutton">
      <p-radioButton name="responseThree" [value]=item formControlName="responseThree" inputId="{{'response3' + i}}"></p-radioButton>
      <label for="{{'response3' + i}}">{{item}}</label>
    </div>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Quarta Questão</label>
    <br>
    <span>{{this.step?.questions?.questionFour}}</span>
  </span>

  <span class="mb-2 mt-2 w-full">
    <div *ngFor="let item of this.listQuestion4; let i = index" class="field-radiobutton">
      <p-radioButton name="responseFour" [value]=item formControlName="responseFour" inputId="{{'response4' + i}}"></p-radioButton>
      <label for="{{'response4' + i}}">{{item}}</label>
    </div>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-fluid mb-2 mt-2 w-full">
    <label for="inputtext">Quinta Questão</label>
    <br>
    <span>{{this.step?.questions?.questionFive}}</span>
  </span>

  <span class="mb-2 mt-2 w-full">
    <div *ngFor="let item of this.listQuestion5; let i = index" class="field-radiobutton">
      <p-radioButton name="responseFive" [value]=item formControlName="responseFive" inputId="{{'response5' + i}}"></p-radioButton>
      <label for="{{'response5' + i}}">{{item}}</label>
    </div>
  </span>

  <p-divider class="w-full"></p-divider>

  <p-button label="Avançar" type="submit" class="mt-4 p-fluid w-full"></p-button>
  <p-button label="Voltar" type="button" class="mt-4 p-fluid w-full" (click)="voltar()"></p-button>
</form>
