<div class="flex justify-content-center align-items-center flex-column">
  <h2>{{roadmap.title}}</h2>
  <h5>Siga seu caminho!</h5>
</div>
<div class="flex flex-column">
  <div *ngFor="let layer of roadmap.layers" class="flex flex-column">
    <div class="grid justify-content-center align-content-center">
      <card-roadmap class="m-3" (click)="openStep(step)" *ngFor="let step of layer.steps" [step]="step"></card-roadmap>
    </div>
    <p-divider layout="horizontal"></p-divider>
  </div>
</div>
