<div class="w-screen h-screen flex flex-column justify-content-center align-items-center background-login">
  <div class="w-22rem">
    <div class="w full flex justify-content-center mb-7 text-center">
      Insirá o email para que lhe envie um link para alterar a senha.
    </div>
    <form
    [formGroup]="forgotForm"
    (ngSubmit)="forgot()">
      <div class="card">
        <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center">
                <div class="p-fluid w-22rem">
                    <div class="field">
                      <span class="p-float-label">
                        <input id="username" type="text" formControlName="email" pInputText>
                        <label for="username">E-mail</label>
                      </span>
                    </div>
                    <p-button label="Enviar" type="submit"></p-button>
                  </div>
            </div>
            <div class="">
                <p-divider layout="horizontal">
                </p-divider>
            </div>
            <div class="flex align-items-center justify-content-center">
              <div class="p-fluid w-22rem">
                <p-button label="Voltar" styleClass="p-button-outlined" (onClick)="voltar()"></p-button>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>
