<div class="flex p-5">
  <div class="w-full">
    <guideme-nav class="sticky z-5 w-full" style="top:32px;"></guideme-nav>
    <div class="body-content">
      <div class="flex flex-wrap justify-content-center w-full">
        <div class="w-full grid justify-content-center">
          <div class="flex flex-column col-12" style="height: 440px;">
            <h3 class="flex justify-content-end">Ultimos desafios adicionados</h3>
            <div class="grid overflow-hidden">
              <guideme-card class="col flex justify-content-center" *ngFor="let item of item" [item]="item" [buttonText]="text" [icon]="faFeatherPointed"></guideme-card>
            </div>
          </div>
          <div class="flex flex-column col-12" style="height: 440px;">
            <app-ranking></app-ranking>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
