.card-1 {
  width: 250px;
  margin: 15px;
}

::ng-deep {
  .p-card {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--surface-50);
  }
  .p-card .p-card-content {
    padding: 0;
  }
  .p-card .p-card-footer {
    padding: 0;
  }
}
