<div class="flex justify-content-center align-items-center flex-column">
  <div *ngFor="let item of step.contents">
    <h1>{{item.title}}</h1>
    <video width="640" height="360" controls>
      <source src="{{item.urlVideo}}" type="video/mp4">
    </video>
    <p>{{item.payload}}</p>
    <div class="flex justify-content-around align-items-center">
      <button pButton pRipple type="button" label="W3Schools" class="p-button-rounded p-button-warning" onClick=`window.open(${item.linkOne})`></button>
      <button pButton pRipple type="button" label="Course" class="p-button-rounded p-button-secondary" onClick=`window.open(${item.linkTwo})`></button>
      <button pButton pRipple type="button" label="Introdution" class="p-button-rounded p-button-success" onClick=`window.open(${item.linkTree})`></button>
    </div>
  </div>
  <p-button class="mt-5" label="Realizar validação de modulo" [disabled]="true"></p-button>
</div>
