<div class="flex justify-content-center align-items-center flex-column">
  <div *ngFor="let item of step.contents">
    <h1>{{item.title}}</h1>
    <p>{{item.payload}}</p>
    <div class="flex justify-content-center mt-3 mb-5">
      <video width="640" height="360" controls *ngIf="item.urlVideo">
        <source src="{{item.urlVideo}}" type="video/mp4">
      </video>
    </div>
    <div class="flex justify-content-around align-items-center mt-2">
      <button *ngIf="item.linkOne" pButton pRipple type="button" label="Primeira referencia" class="p-button-rounded p-button-warning" (click)="openWindow(item.linkOne)"></button>
      <button *ngIf="item.linkTwo" pButton pRipple type="button" label="Segunda referencia" class="p-button-rounded p-button-secondary" (click)="openWindow(item.linkTwo)"></button>
      <button *ngIf="item.linkTree" pButton pRipple type="button" label="Terceira referencia" class="p-button-rounded p-button-success" (click)="openWindow(item.linkTree)"></button>
    </div>
  </div>
  <p-button *ngIf="!step.isDone" class="mt-5" label="Realizar validação de modulo" [disabled]="step.isDone" (click)="openValidation()"></p-button>
</div>
