<form
  [formGroup]="validateForm"
  (ngSubmit)="register()"
  class="flex justify-content-center align-items-center flex-column">

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="questionOne" pInputText>
    <label for="inputtext">Primeira Questão</label>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseOne" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="questionTwo" pInputText>
    <label for="inputtext">Segunda Questão</label>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseTwo" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="questionThree" pInputText>
    <label for="inputtext">Terceira Questão</label>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseThree" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="questionFour" pInputText>
    <label for="inputtext">Quarta Questão</label>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseFour" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="questionFive" pInputText>
    <label for="inputtext">Quinta Questão</label>
  </span>

  <span class="p-float-label p-fluid mb-2 mt-2 w-full">
    <input type="text" id="inputtext" formControlName="responseFive" pInputText>
    <label for="inputtext">Resposta</label>
  </span>

  <p-divider class="w-full"></p-divider>

  <p-button label="Cadastrar" type="submit" class="mt-4 p-fluid w-full"></p-button>
</form>
