<div *ngIf="step.isOpen && !step.isDone" (mouseover)="effectCardOpen()" class="card card-open title-background relative">
  <div class="card-content">
    <h3 class="text-center">
      {{step.title}}
    </h3>
    <h4 class="m-0 flex justify-content-between">
      <p class="m-1">Conclusão</p>
      <p class="m-1">0%</p>
    </h4>
    <p-progressBar [value]="step.conclusion" class="w-full"></p-progressBar>
    <div class="placar mt-4">
      <p class="m-0">+{{step.bountyXp}} Xp</p>
      <p class="m-0">+{{step.bountyCoin}}
        <fa-icon [icon]="faCoins" [size]=size>
        </fa-icon>
      </p>
    </div>
    <div class="flex justify-content-center align-items-center flex-column mt-3">
      <h4 class="m-0">Dificuldade</h4>
      <p-rating [ngModel]="step.difficulty" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    </div>
  </div>
  <div class="card-icon">
    <img src="../../../../../../assets/img/js.png" alt="">
  </div>
</div>

<div *ngIf="!step.isOpen && !step.isDone" (mouseover)="effectCardClose()" class="card title-background">
  <div class="flex justify-content-center align-items-center w-full h-full card-opa">
    <fa-icon [icon]="faLock" [size]=size2>
    </fa-icon>
  </div>
</div>

<div *ngIf="!step.isOpen && step.isDone"(mouseover)="effectCardConcluded()" class="card card-open title-background">
  <div class="flex justify-content-center align-items-center w-full h-full card-opa flex-column">
    <h3 class="mb-3">
      {{step.title}}
    </h3>
    <div class="flex flex-column justify-content-center align-items-center">
      <fa-icon [icon]="faCircleCheck" [size]=size2 style="color: rgb(0, 255, 166);" class="mb-2">
      </fa-icon>
      Concluido
    </div>
  </div>
</div>
