<div class="l-card flex">
  <div style="width: 80px !important; height: 80px !important;" class="p-2">
    <div class="flex justify-content-center align-items-center w-full h-full" style="border-radius: 10px;">
      <fa-icon [icon]="icon" [size]=sizeSm style="color: #5f5f5f;">
      </fa-icon>
    </div>
  </div>
  <div class="h-full wid">
    <div class="h-full flex justify-content-center align-items-center p-2">
      <p style="color: gray; font-size:1rem; text-align: center; vertical-align: baseline;  ">{{this.text}}</p>
    </div>
  </div>
</div>
